@*********************************************************************************
The MIT License(MIT)

Copyright(c) 2016 Copyleaks LTD (https://copyleaks.com)

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*********************************************************************************@


@model Copyleaks.SDK.Demo.Models.Responses.LoginResponse

@{
    ViewData["Title"] = "Copyleaks API Demo - Step 1 - Login";
}
<div class="row">
    <div class="col-xs-12">
        @await Html.PartialAsync("_GeneralNotePartial")
        @await Html.PartialAsync("_Step1Partial")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @if (Model != null && Model.ErrorMessage != null)
        {
            <div class="error-message">
                <h4>Login error:</h4>
                @Model.ErrorMessage
            </div>
        }
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="margin:0px;">
                    Login
                </h3>
            </div>
            <div class="panel-body">
                <form action="/login" method="post">
                    <div>
                        <label for="email">Copyleaks Account Email:</label>
                        <input name="email" id="email" type="email" class="form-control" placeholder="Your-Email@address.com" />
                    </div>
                    <div style="margin-top: 20px;">
                        <label for="key">API Key:</label>
                        <input name="key" id="key" type="text" class="form-control" placeholder="@Guid.Empty" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="Submit" style="margin-top: 30px;">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



