@using Copyleaks.SDK.V3.API.Models.Types;
@model Copyleaks.SDK.Demo.Models.Responses.SubmitResponse
@{
    ViewData["Title"] = "Copyleaks API Demo - Step 2 - Submit a scan";
}

<div class="row">
    <div class="col-xs-12">
        @await Html.PartialAsync("_GeneralNotePartial")
        @await Html.PartialAsync("_Step2Partial")
    </div>
</div>

<div class="row ">
    <div class="col-xs-12">
        <div class="ok-message">
            <h4>Credits: @Model.ClientCredits</h4>
        </div>
    </div>
    <div class="col-xs-12">
        @if (Model != null)
        {
            @if (Model.ErrorMessage != null)
            {
                <div class="error-message">
                    <h4>Submit error:</h4>
                    @Model.ErrorMessage
                </div>
            }
            else if (Model.ScanId != null)
            {
                <div class="ok-message">
                    <h4>Scan '@Model.ScanId' created</h4>
                </div>
            }
        }

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="margin:0px;">
                    Submit Text
                </h3>
            </div>
            <div class="panel-body">
                <form action="/submit" method="post">
                    <div>
                        <label for="token">Server generated token:</label>
                        <textarea rows="4" name="token" id="token" readonly class="form-control">@Model.Token</textarea>
                    </div>
                    <hr />
                    <div style="margin-top: 20px;">
                        <label for="text">Webhook status event</label>
                        <input type="url" name="webhookHost" placeholder="Example: https://yoursite.com/webhook" class="form-control"/>
                        <div class="ok-message">
                            <p>
                                This webhook event is triggered once the scan status changes.
                            </p>
                            <p>
                                Use the special token <code>{STATUS}</code> to track the current scan status.
                                This special token will automatically be replaced by the Copyleaks servers with the optional values:
                                <code>completed</code>, <code>error</code>, <code>creditsChecked</code> and <code>indexed</code>.
                            </p>
                            <p>
                                Read more about <a href="https://api.copyleaks.com/documentation/v3/webhooks">webhooks</a>.
                            </p>
                        </div>
                    </div>
                    <div style="margin-top: 20px;">
                        <label for="text">The text to scan:</label>
                        <textarea rows="4" name="text" id="text" placeholder="Write a free text to scan" class="form-control">Hello world!</textarea>
                    </div>
                    <div style="margin-top: 20px;">
                        <label><input type="checkbox" name="Sandbox" value="true" checked> Sandbox</label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="Submit" style="margin-top: 30px;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>