<h1>Copyleaks API Demo</h1>
<p>
    In this demo, we will demonstrate how to submit content for a scan and get back results, using the Copyleaks API.
</p>
<p>
    This flow of work is recommended for all applications with access to a webserver, since asynchronous HTTP callbacks are used to receive notifications when the scan is completed.
</p>
<p>
    Scan flow: <code>Login</code> -> <code>Submit a scan</code> -> <code>Get results</code>.
</p>
<hr style="margin-bottom: 35px;" />