<h2>
    Step 2: Submit a scan
</h2>
<p>
    Now that you are logged in and have your access key, you can submit content for a scan. Copyleaks provides 3 types of scans: 
</p>
<ol>
    <li><b>URL scan-</b> Provide a URL that is open and accessible</li>
    <li><b>File scan-</b> Upload a file from one of the supported file types (like pdf, docx, ...). The file will be encoded in BASE64 format and then will be sent to the server as a JSON message.</li>
    <li><b>OCR Scan -</b> Upload a picture that contains text in it (Jpeg, png etc.). Using OCR Copyleaks will extract the text from the image and scan it.</li>
</ol>
<p>
    The following form shows how to scan free-text. First, it is getting the text from the user, then the text is being encoded to the BASE64 format and finally it will be submitted as a file.
</p>
<p>
    Note that <code>Sandbox</code> mode produces dummy results (great for testing) and free of charge.
</p>
<p>
    Fill out the next form:
</p>