<h2>
    Step 1: Login to Copyleaks
</h2>
<p>
   To log in to the Copyleaks API you will need your: <code>Copyleaks Account Email</code> and <code>API Key</code>.
    After your credentials have been verified, you will get a temporary access token that you will later need to use to access the rest of the API methods.
</p>
<p>
    Copy the API key from your dashboard on <a href="https://api.copyleaks.com">api.copyleaks.com</a> and paste it on the next form:
</p>