<h2>
    Step 3: Get the scan results
</h2>
<p>
    At this point, you submitted the content for a scan and now you will need to wait for the Copyleaks servers to complete the scan and get the results.
</p>    

<p>
    Scan times can change and are dependent on:
</p>
<ul>
    <li><b>Document size -</b> Longer documents will require more time to analyze.</li>
    <li><b>Amount of results found -</b> More results will require more time than content that is plagiarism free.</li>
    <li><b>Other submitted scans -</b> Copyleaks servers prioritize scans according to the user's subscription plan. The greater your Copyleaks plan is the faster your scans will be processed.</li>
</ul>
<p>
    On average a scan of one credit (250 words) takes ~10 seconds.
</p>
<p>
    Click the refresh button to check if the scan has been completed. Once the completion callback (HTTP callback) will be executed , you will see the results on this page.
</p>